<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>galleery page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'static/images/../static/style.css' %}">
</head>
<body>
<h1>MY GALLERY</h1>
<img src="{% static  'images/img1.jpg' %}" alt="">
<img src="{% static  'images/img2.jpg' %}" alt="">
<img src="{% static  'images/img3.jpg' %}" alt="">
<img src="{% static  'images/img4.avif' %}" alt="">
<img src="{% static  'images/img5.avif' %}" alt="">
<img src="{% static  'images/img6.avif' %}" alt="">
</body>
</html>